.cartas {
    display: flex;
    flex-wrap: wrap;
}

.carta {
    border: 1px solid #dee2e6 !important;
    margin: .5rem !important;
    flex: 0 0 auto;
    width: 16.66666667%;
}

.carta span {
    text-align: center;
    display: block;
}